<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Bootstrap</title>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css"/>
		<script type="text/javascript" src="assets/js/jquery.min.js"></script>
		<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container">


			<h1>Meu primeiro <small>sistema Bootstrap</small></h1>
			<p>Este é meu primeiro teste.</p>
			<hr/>
			
			<ul class="nav nav-tabs">
					<li class="active">
						<a href="#home" class="" data-toggle="tab">Home</a>
					</li>
					<li>
						<a href="#sobre" class="" data-toggle="tab">Sobre</a>
					</li>
					<li>
						<a href="#contato" class="" data-toggle="tab">Contato</a>
					</li>
			</ul>
			<div class="tab-content">
				<div id="home" class="tab-pane active in fade">Conteúdo do Home</div>
					
				<div id="sobre" class="tab-pane fade">Página Sobre</div>	

				<div id="contato" class="tab-pane fade">Página Contato</div>	
			</div>


		</div>
	</body>
</html>