/*
input[type=text],
input[type=email],
input[type=password],
input[type=number],
select, textarea{
	margin-top: 5px;
	height: 30px;
	font-size: 13px;
	outline: 0;
	padding-left: 5px;
	padding-right: 5px;
	width: 100%;
}
textarea{
	height: 100px;
}

input[type=submit], button, .button{

	border:0px;
	background-color: #224074;
	color: #FFF;
	height: 40px;
	line-height: 40px;
	border-radius: 3px;
	padding-left: 20px;
	padding-right: 20px;
	cursor: pointer;
	font-size: 13px;
	display: inline-block;


}

table{
	margin-top: 10px;
}
table th{
	height: 40px;
	line-height: 40px;
	background-color: #DDD;
	text-align: left;
	padding-right: 10px;
	padding-left: 10px;
}
table td{
	height: 40px;
	line-height: 40px;
	background-color: #EEE;
	padding-right: 10px;
	padding-left: 10px;

}
*/


/* arquivo style 
input[type=text],
input[type=email],
input[type=password],
input[type=number],
select, textarea{
	margin-top: 5px;
	height: 30px;
	font-size: 13px;
	outline: 0;
	padding-left: 5px;
	padding-right: 5px;
	width: 100%;
}
textarea{
	height: 100px;
}
input[type=submit], button, .button{

	border:0px;
	background-color: #224074;
	color: #FFF;
	height: 40px;
	line-height: 40px;
	border-radius: 3px;
	padding-left: 20px;
	padding-right: 20px;
	cursor: pointer;
	font-size: 13px;
	display: inline-block;


}

table{
	margin-top: 10px;
}
table th{
	height: 40px;
	line-height: 40px;
	background-color: #DDD;
	text-align: left;
	padding-right: 10px;
	padding-left: 10px;
}
table td{
	height: 40px;
	line-height: 40px;
	background-color: #EEE;
	padding-right: 10px;
	padding-left: 10px;

}
*/
.client_add_button{
	font-size: 17px;
	height: 30px;
	line-height: 30px;
	display: block;
	float: left;
	margin-top: 5px;
	margin-left: 10px;
}